* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Paleta de colores
$color1: #69dfd2;
$color2: #d1dbdd;
$color3: black;

//Fuentes
@font-face {
    font-family: satisfy;
    src: url(../media/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: alkatra;
    src: url(../media/fonts/Alkatra-VariableFont_wght.ttf);
}

$fuente1: satisfy;
$fuente2: alkatra;

//Mixin Grids
@mixin grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 35px 0px 35px 0px;
}

//Mixin Flexbox
@mixin flexbox($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

//Mixin tamaños
@mixin sizes($height, $width) {
    height: $height;
    width: $width;
}

//Mixin texto
@mixin texto($font, $size, $weight, $align, $color, $transform, $spacing) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    color: $color;
    text-transform: $transform;
    letter-spacing: $spacing;
}

//Cambio de fondo según ancho de pantalla
$horizontal: url(../media/wallpaperHorizontal.jpg);
$vertical: url(../media/wallpaperVertical.jpg);

body {
    background-repeat: repeat-y;
    background-size: 100% auto;

    @if (min-width: 800px) {
        background-image: $horizontal;
    }

    @else {
        background-image: $vertical;
    }
}

/*Header - inicio*/
.encabezado {
    background-color: $color1;
    @include sizes(100px, 100%);
}

.logoTop {
    z-index: 30;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $color2;
    border: $color3 solid 5px;
    border-radius: 97px;
    margin: 1px 0px 0px 1px;
    padding: 5px;
    @include sizes(194px, auto);
}

.nombre {
    margin-left: 270px;
    text-shadow: 5px 5px 3px $color2;
    @include texto($fuente1, 72px, bold, left, $color3, none, -1px);
}

/*Barra de navegación - inicio*/
.navbar {
    height: 60px;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: $color1;
    z-index: 10;
}

.nav-link {
    margin: 4px;
    padding: 3px;
    border-radius: 6px;
    border: solid 3px $color3;
    background-color: $color2;
    @include texto($fuente2, 20px, bold, center, $color3 !important, capitalize, 0px);
}

.nav-link:hover {
    color: $color1 !important;
    background-color: $color3;
}

.navbar-toggler {
    color: $color3 !important;
    font-size: 27px;
    border: $color3 solid 3px !important;
    background-color: $color2;
    border-radius: 6px;
}

.fa-bars:hover {
    color: $color1;
}

/*Barra de navegación - final*/
/*Header - final*/

.titulo {
    margin: auto;
    text-shadow: 10px 0px 7px $color3;
    @include texto($fuente2, 100px, bold, center, $color1, uppercase, 0px);
}

/*Carrusel - inicio*/
.carousel {
    margin: auto;
    @include sizes(auto, 75%);
}

.carousel-inner {
    height: auto;
    max-width: 100%;
    border: $color1 solid 4px;
    z-index: 1;
}

.carousel-control-prev-icon {
    background-image: url(../media/photos/flecha-izq.png);
    @include sizes(35px, 35px);
}

.carousel-control-next-icon {
    background-image: url(../media/photos/flecha-der.png);
    @include sizes(35px, 35px);
}

.carousel-indicators li {
    background-color: $color1;
    border-radius: 50%;
    margin: 0 0.4rem;
    @include sizes(20px, 20px);
}

.carousel-indicators .active {
    background-color: $color2;
}

/*Carrusel - final*/

.parrafosHome {
    background-image: linear-gradient(to bottom right, $color1, $color2);
    margin: 35px;
    padding: 30px 50px 30px 50px;
    @include sizes(auto, auto);
    @include texto($fuente2, 20px, bold, left, $color3, none, 1px);
}

/*Secciones Nuestros Productos y Nuestro Taller - Inicio*/

.gridProductos {
    @include grid;
    grid-template-rows: auto 70px auto 70px auto 70px auto;
    grid-template-areas:
        "img1 detail1 detail1"
        "line1 line1 line1"
        "detail2 detail2 img2"
        "line2 line2 line2"
        "img3 detail3 detail3"
        "line3 line3 line3"
        "detail4 detail4 img4";
}

.gridTaller {
    @include grid;
    grid-template-rows: auto 70px auto 70px auto;
    grid-template-areas:
        "detail1 detail1 img1"
        "line1 line1 line1"
        "img2 detail2 detail2"
        "line2 line2 line2"
        "detail3 detail3 img3";
}

//Bucle para crear áreas del Grid

@for $i from 1 through 4 {
    .img#{$i} {
        grid-area: img#{$i};
    }
}

@for $i from 1 through 4 {
    .detail#{$i} {
        grid-area: detail#{$i};
    }
}

@for $i from 1 through 3 {
    .line#{$i} {
        grid-area: line#{$i};
    }
}

.imagen {
    background-image: linear-gradient(to top left, $color1, $color2);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    @include sizes(auto, 300px);
}

.detalle {
    background-image: linear-gradient(to bottom right, $color1, $color2);
    padding: 10px 20px 10px 20px;
    margin: 40px;
    @include sizes(auto, auto);
    @include texto($fuente2, 20px, bold, left, $color3, none, 1px);
}

.subtitulo {
    padding: 10px;
    @include texto($fuente2, 30px, bold, center, $color3, uppercase, opx);
}

.linea {
    border: solid $color1 5px;
    border-radius: 5px;
}

/*Secciones Nuestros Productos y Nuestro Taller - Final*/
/*Galeria - inicio*/
.galeria {
    margin: auto;
    padding: 32px;
}

.img {
    background-image: linear-gradient(to top left, $color1, $color2);
    padding: 10px;
    border-radius: 10px;
    transition: all 1.0s;
}

.img:hover {
    transform: scale(1.2);
    transition: all 1.0s;
}

/*Galeria - final*/
/*Contacto - inicio*/

.mainContacto {
    background-color: $color1;
    margin: 40px auto;
    text-align: center;
    padding: 50px;
    @include sizes(auto, 50%);
}

.datosPedidos {
    border: solid $color3 5px;
    border-radius: 10px;
    background-color: $color2;
    margin: 15px 10px 15px 10px;
    padding: 5px;
    @include texto($fuente2, 16px, none, center, $color3, none, 0px);
    @include flexbox(flex, center, center);
}

.datosIngresados {
    text-align: center;
    border: $color3 solid 3px;
    border-radius: 10px;
}

.boton {
    @include flexbox(flex, center, center);
}

/*Contacto - final*/
/*Footer - inicio*/
.piePagina {
    background-color: $color1;
    margin-top: 10px;
    @include sizes(100px, 100%);
    @include flexbox(flex, space-between, none);
}

.derechos {
    margin: 0px 0px 15px 15px;
    @include flexbox(flex, left, end);
    @include texto($fuente2, 18px, bold, center, $color3, none, 0px);
}

.redes {
    font-size: 40px;
    letter-spacing: 20px;
    @include flexbox(flex, center, center);
}

.redes a {
    color: $color3;
}

.redes a:hover {
    color: $color2;
    animation: shake 0.50s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.logoBottom {
    margin: 0px 2px 2px 250px;
    border: $color3 solid 5px;
    border-radius: 49px;
    background-color: $color2;
    padding: 4px;
    @include sizes(98px, auto);
    @include flexbox(flex, flex-end, center);
}

/*Footer - final*/
/*Responsive - inicio*/

//Mixin GRid Responsive
@mixin gridResponsive {
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

/*JQuery 320px - inicio*/
@media only screen and (max-width: 320px) {
    .encabezado {
        height: 40px;
    }

    .logoTop {
        height: 83px;
        margin: 2px 0px 0px 2px;
        border: $color3 solid 2px;
    }

    .nombre {
        font-size: 30px;
        margin-left: 95px;
    }

    .navbar {
        margin-top: 10px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 38px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 15px;
        padding: 10px;
        font-size: 13px;
    }

    .gridProductos {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3"
            "line3"
            "img4"
            "detail4";
        @include gridResponsive;
    }

    .gridTaller {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3";
        @include gridResponsive;
    }

    .imagen {
        width: 85%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria {
        padding: 14px;
    }

    .mainContacto {
        width: 95%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 50px;
        margin: 0px;
    }

    .derechos {
        font-size: 8px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 5px;
        font-size: 18px;
    }

    .logoBottom {
        height: 48px;
        margin: 0px 2px 2px 72px;
        border: $color3 solid 2px;
    }
}

/*JQuery 320px - final*/
/*JQuery 321px-480px - inicio*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .encabezado {
        height: 40px;
    }

    .logoTop {
        height: 83px;
        margin: 2px 0px 0px 2px;
        border: $color3 solid 2px;
    }

    .nombre {
        font-size: 30px;
        margin-left: 95px;
    }

    .navbar {
        margin-top: 10px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 38px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 15px;
        padding: 10px;
        font-size: 13px;
    }

    .gridProductos {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3"
            "line3"
            "img4"
            "detail4";
        @include gridResponsive;
    }

    .gridTaller {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3";
        @include gridResponsive;
    }

    .imagen {
        width: 65%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria {
        padding: 20px;
    }

    .mainContacto {
        width: 95%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 50px;
        margin: 0px;
    }

    .derechos {
        font-size: 8px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 5px;
        font-size: 18px;
    }

    .logoBottom {
        height: 48px;
        margin: 0px 2px 2px 100px;
        border: $color3 solid 2px;
    }
}

/*JQuery 321px-480px - final*/
/*JQuery 481px-800px - inicio*/
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .encabezado {
        height: 70px;
    }

    .logoTop {
        height: 122px;
        margin: 3px 0px 0px 3px;
    }

    .nombre {
        font-size: 45px;
        margin-left: 135px;
    }

    .navbar {
        margin-top: 10px;
        height: 45px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 60px;
    }

    .carousel {
        width: 85%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 25px;
        padding: 20px;
        font-size: 16px;
    }

    .gridProductos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 20px auto 20px auto 20px auto;
        grid-template-areas:
            "img1 detail1"
            "line1 line1"
            "detail2 img2"
            "line2 line2"
            "img3 detail3"
            "line3 line3"
            "detail4 img4";
        @include gridResponsive;
    }

    .gridTaller {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 20px auto 20px auto;
        grid-template-areas:
            "detail1 img1"
            "line1 line1"
            "img2 detail2"
            "line2 line2"
            "detail3 img3";
        @include gridResponsive;
    }

    .imagen {
        width: 90%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria {
        padding: 35px;
    }

    .mainContacto {
        width: 70%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 75px;
        margin: 0px;
    }

    .derechos {
        font-size: 12px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 8px;
        font-size: 26px;
    }

    .logoBottom {
        height: 72px;
        margin: 0px 3px 3px 120px;
    }
}

/*JQuery 481px-800px - final*/
/*Responsive - final*/