* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: satisfy;
    src: url(../Media/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: alkatra;
    src: url(../Media/Fonts/Alkatra-VariableFont_wght.ttf);
}

body {
    background-image: url(../media/fondoPantalla.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

/*Header - inicio*/
.encabezado {
    height: 100px;
    width: 100%;
    background-color: #69dfd2;
}

.logoTop {
    z-index: 30;
    height: 194px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border: black solid 5px;
    border-radius: 97px;
    padding: 3px;
}

.nombre {
    font-family: satisfy;
    font-weight: bold;
    font-size: 72px;
    text-align: left;
    letter-spacing: -1px;
    margin-left: 270px;
}

/*Barra de navegación - inicio*/
.navbar {
    height: 60px;
    margin-top: 35px;
    background-color: #69dfd2;
    z-index: 10;
}

.nav-link {
    color: black !important;
    margin: 4px;
    text-transform: capitalize;
    font-family: alkatra;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 3px black;
    background-color: #d1dbdd;
    text-align: center;
    padding: 3px;
}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler {
    color: black !important;
    font-size: 27px;
    border: black solid 3px !important;
    background-color: #d1dbdd;
    border-radius: 6px;
}

.fa-bars:hover {
    color: white;
}

/*Barra de navegación - final*/
/*Header - final*/

.titulo {
    margin: auto;
    font-family: alkatra;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 0px 7px #000000;
    color: #69dfd2;
}

/*Carrusel - inicio*/

.carousel {
    height: auto;
    width: 75%;
    margin: auto;
}

.carousel-inner {
    height: auto;
    max-width: 100%;
    border: #69dfd2 solid 4px;
    z-index: 1;
}

.carousel-control-prev-icon {
    background-image: url(../media/photos/flecha-izq.png);
    height: 35px;
    width: 35px;
}

.carousel-control-next-icon {
    background-image: url(../media/photos/flecha-der.png);
    height: 35px;
    width: 35px;
}

.carousel-indicators li {
    background-color: #69dfd2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0.4rem;
}

.carousel-indicators .active {
    background-color: #d1dbdd;
}

/*Carrusel - final*/

.parrafosHome {
    background-color: #69dfd2;
    height: auto;
    width: auto;
    margin: 35px;
    text-align: left;
    padding: 30px 50px 30px 50px;
    font-size: 18px;
    font-family: alkatra;
    font-weight: bold;
    letter-spacing: 1px;
}

.gridProductos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 70px 300px 70px 300px 70px 300px;
    grid-template-areas:
        "img1 detail1 detail1"
        "line1 line1 line1"
        "detail2 detail2 img2"
        "line2 line2 line2"
        "img3 detail3 detail3"
        "line3 line3 line3"
        "detail4 detail4 img4";
    align-items: center;
    justify-self: center;
    padding: 20px;
    margin: 35px 0px 35px 0px;
}

.gridTaller {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 70px 300px 70px 300px;
    grid-template-areas:
        "detail1 detail1 img1"
        "line1 line1 line1"
        "img2 detail2 detail2"
        "line2 line2 line2"
        "detail3 detail3 img3";
    align-items: center;
    justify-self: center;
    padding: 20px;
    margin: 35px 0px 35px 0px;
}

.gridGaleria {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 340px 340px 340px;
    grid-template-areas:
        "img1 img2 img3 img4"
        "img5 img6 img7 img8"
        "img9 img10 img11 img12";
    align-items: center;
    justify-self: center;
    padding: 20px;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.img8 {
    grid-area: img8;
}

.img9 {
    grid-area: img9;
}

.img10 {
    grid-area: img10;
}

.img11 {
    grid-area: img11;
}

.img12 {
    grid-area: img12;
}

.detail1 {
    grid-area: detail1;
}

.detail2 {
    grid-area: detail2;
}

.detail3 {
    grid-area: detail3;
}

.detail4 {
    grid-area: detail4;
}

.line1 {
    grid-area: line1;
}

.line2 {
    grid-area: line2;
}

.line3 {
    grid-area: line3;
}

.imagen {
    width: auto;
    height: 300px;
    border-radius: 10px;
    border: #69dfd2 solid 5px;
    justify-self: center;
    align-self: center;
}

.detalle {
    width: auto;
    height: 300px;
    background-color: #69dfd2;
    padding: 10px 20px 10px 20px;
    margin: 40px;
    font-size: 17px;
    font-family: alkatra;
    font-weight: bold;
    letter-spacing: 1px;
}

.subtitulo {
    text-align: center;
    font-size: 28px;
    font-family: alkatra;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase
}

.linea {
    border: solid #69dfd2 5px;
    border-radius: 5px;
}

.img {
    height: 300px;
    width: auto;
    border: solid #d1dbdd 10px;
    border-radius: 15px;
    transition: all 1.0s;
    justify-self: center;
    align-self: center;
}

.img:hover {
    transform: scale(1.2);
    transition: all 1.0s;
}

.mainContacto {
    background-color: #69dfd2;
    height: auto;
    width: 50%;
    margin: 40px auto;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.datosPedidos {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: alkatra;
    border: solid black 5px;
    border-radius: 10px;
    background-color: #d1dbdd;
    margin: 15px 10px 15px 10px;
    padding: 6px;
}

.datosIngresados {
    text-align: center;
    border: #000000 solid 3px;
    border-radius: 10px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #69dfd2;
    margin-top: 10px;
}

.derechos {
    display: flex;
    justify-content: left;
    align-items: end;
    font-size: 18px;
    font-weight: bold;
    font-family: alkatra;
    margin: 0px 0px 15px 15px;
}

.redes {
    font-size: 40px;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a {
    color: #000000;
}

.redes a:hover {
    color: #d1dbdd;
}

.logoBottom {
    margin-left: 250px;
    height: 98px;
    width: auto;
    border: black solid 5px;
    border-radius: 49px;
    padding: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*JQuery 368px - inicio*/
@media only screen and (min-width: 340px) and (max-width: 400px) {
    .encabezado {
        height: 40px;
    }

    .logoTop {
        height: 85px;
    }

    .nombre {
        font-size: 30px;
        margin-left: 95px;
    }

    .navbar {
        margin-top: 10px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
        z-index: 10 !important;
    }

    .titulo {
        margin-top: 10px;
        font-size: 38px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        height: auto;
        width: auto;
        margin: 15px;
        text-align: left;
        padding: 10px;
        align-items: center;
        font-size: 13px;
        font-family: alkatra;
    }

    .gridProductos {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3"
            "line3"
            "img4"
            "detail4";
        padding: 10px;
        margin: 0px 0px 10px 0px;
        gap: 10px;
    }

    .gridTaller {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3";
        padding: 10px;
        margin-bottom: 10px;
        gap: 10px;
    }

    .gridGaleria {
        display: grid;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px 150px;
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8"
            "img9 img10"
            "img11 img12";
        gap: 15px;
        margin: auto;
    }

    .imagen {
        width: 85%;
        height: auto;
    }

    .detalle {
        width: 100%;
        height: auto;
        font-size: 10px;
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        align-items: center;
        font-size: 13px;
        font-family: alkatra;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .img {
        height: 135px;
        width: auto;
        border: #69dfd2 solid 5px;
        transition: all 1.0s;
    }

    .mainContacto {
        width: 95%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 50px;
        margin: 0px;
    }

    .derechos {
        font-size: 8px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 5px;
        font-size: 18px;
    }

    .logoBottom {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin-left: 72px;
        border: black solid 2px;
    }
}

/*JQuery 368px - final*/