@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: satisfy;
  src: url(../media/fonts/Satisfy-Regular.ttf);
}
@font-face {
  font-family: alkatra;
  src: url(../media/fonts/Alkatra-VariableFont_wght.ttf);
}
body {
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-image: url(../media/wallpaperHorizontal.jpg);
}

/*Header - inicio*/
.encabezado {
  background-color: #69dfd2;
  height: 100px;
  width: 100%;
}

.logoTop {
  z-index: 30;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #d1dbdd;
  border: black solid 5px;
  border-radius: 97px;
  margin: 1px 0px 0px 1px;
  padding: 5px;
  height: 194px;
  width: auto;
}

.nombre {
  margin-left: 270px;
  text-shadow: 5px 5px 3px #d1dbdd;
  font-family: satisfy;
  font-size: 72px;
  font-weight: bold;
  text-align: left;
  color: black;
  text-transform: none;
  letter-spacing: -1px;
}

/*Barra de navegación - inicio*/
.navbar {
  height: 60px;
  margin-top: 35px;
  margin-bottom: 15px;
  background-color: #69dfd2;
  z-index: 10;
}

.nav-link {
  margin: 4px;
  padding: 3px;
  border-radius: 6px;
  border: solid 3px black;
  background-color: #d1dbdd;
  font-family: alkatra;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black !important;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.nav-link:hover {
  color: #69dfd2 !important;
  background-color: black;
}

.navbar-toggler {
  color: black !important;
  font-size: 27px;
  border: black solid 3px !important;
  background-color: #d1dbdd;
  border-radius: 6px;
}

.fa-bars:hover {
  color: #69dfd2;
}

/*Barra de navegación - final*/
/*Header - final*/
.titulo {
  margin: auto;
  text-shadow: 10px 0px 7px black;
  font-family: alkatra;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #69dfd2;
  text-transform: uppercase;
  letter-spacing: 0px;
}

/*Carrusel - inicio*/
.carousel {
  margin: auto;
  height: auto;
  width: 75%;
}

.carousel-inner {
  height: auto;
  max-width: 100%;
  border: #69dfd2 solid 4px;
  z-index: 1;
}

.carousel-control-prev-icon {
  background-image: url(../media/photos/flecha-izq.png);
  height: 35px;
  width: 35px;
}

.carousel-control-next-icon {
  background-image: url(../media/photos/flecha-der.png);
  height: 35px;
  width: 35px;
}

.carousel-indicators li {
  background-color: #69dfd2;
  border-radius: 50%;
  margin: 0 0.4rem;
  height: 20px;
  width: 20px;
}

.carousel-indicators .active {
  background-color: #d1dbdd;
}

/*Carrusel - final*/
.parrafosHome {
  background-image: linear-gradient(to bottom right, #69dfd2, #d1dbdd);
  margin: 35px;
  padding: 30px 50px 30px 50px;
  height: auto;
  width: auto;
  font-family: alkatra;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: black;
  text-transform: none;
  letter-spacing: 1px;
}

/*Secciones Nuestros Productos y Nuestro Taller - Inicio*/
.gridProductos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 35px 0px 35px 0px;
  grid-template-rows: auto 70px auto 70px auto 70px auto;
  grid-template-areas: "img1 detail1 detail1" "line1 line1 line1" "detail2 detail2 img2" "line2 line2 line2" "img3 detail3 detail3" "line3 line3 line3" "detail4 detail4 img4";
}

.gridTaller {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 35px 0px 35px 0px;
  grid-template-rows: auto 70px auto 70px auto;
  grid-template-areas: "detail1 detail1 img1" "line1 line1 line1" "img2 detail2 detail2" "line2 line2 line2" "detail3 detail3 img3";
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.detail1 {
  grid-area: detail1;
}

.detail2 {
  grid-area: detail2;
}

.detail3 {
  grid-area: detail3;
}

.detail4 {
  grid-area: detail4;
}

.line1 {
  grid-area: line1;
}

.line2 {
  grid-area: line2;
}

.line3 {
  grid-area: line3;
}

.imagen {
  background-image: linear-gradient(to top left, #69dfd2, #d1dbdd);
  border-radius: 10px;
  padding: 10px;
  justify-self: center;
  align-self: center;
  height: auto;
  width: 300px;
}

.detalle {
  background-image: linear-gradient(to bottom right, #69dfd2, #d1dbdd);
  padding: 10px 20px 10px 20px;
  margin: 40px;
  height: auto;
  width: auto;
  font-family: alkatra;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: black;
  text-transform: none;
  letter-spacing: 1px;
}

.subtitulo {
  padding: 10px;
  font-family: alkatra;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: uppercase;
  letter-spacing: opx;
}

.linea {
  border: solid #69dfd2 5px;
  border-radius: 5px;
}

/*Secciones Nuestros Productos y Nuestro Taller - Final*/
/*Galeria - inicio*/
.galeria {
  margin: auto;
  padding: 32px;
}

.img {
  background-image: linear-gradient(to top left, #69dfd2, #d1dbdd);
  padding: 10px;
  border-radius: 10px;
  transition: all 1s;
  filter: brightness(85%);
}
.img:hover {
  transform: scale(1.2);
  transition: all 1s;
  filter: brightness(105%) saturate(115%);
}

/*Galeria - final*/
/*Contacto - inicio*/
.mainContacto {
  background-color: #69dfd2;
  margin: 40px auto;
  text-align: center;
  padding: 50px;
  height: auto;
  width: 50%;
}

.datosPedidos {
  border: solid black 5px;
  border-radius: 10px;
  background-color: #d1dbdd;
  margin: 15px 10px 15px 10px;
  padding: 5px;
  font-family: alkatra;
  font-size: 16px;
  font-weight: none;
  text-align: center;
  color: black;
  text-transform: none;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datosIngresados {
  text-align: center;
  border: black solid 3px;
  border-radius: 10px;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonHover:hover {
  color: #69dfd2 !important;
  background-color: black;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/*Contacto - final*/
/*Footer - inicio*/
.piePagina {
  background-color: #69dfd2;
  margin-top: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.derechos {
  margin: 0px 0px 15px 15px;
  display: flex;
  justify-content: left;
  align-items: end;
  font-family: alkatra;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: none;
  letter-spacing: 0px;
}

.redes {
  z-index: 10;
  font-size: 40px;
  letter-spacing: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes a {
  color: black;
}
.redes a:hover {
  color: #d1dbdd;
}

.logoBottom {
  margin: 0px 2px 2px 250px;
  border: black solid 5px;
  border-radius: 49px;
  background-color: #d1dbdd;
  padding: 4px;
  height: 98px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*Footer - final*/
/*Responsive - inicio*/
/*JQuery 320px - inicio*/
@media only screen and (max-width: 320px) {
  .encabezado {
    height: 40px;
  }
  .logoTop {
    height: 83px;
    margin: 2px 0px 0px 2px;
    border: black solid 2px;
  }
  .nombre {
    font-size: 30px;
    margin-left: 95px;
  }
  .navbar {
    margin-top: 10px;
    height: 35px;
  }
  .navbar-toggler {
    font-size: 16px;
    border-radius: 6px;
    margin: -5px;
  }
  .titulo {
    margin-top: 10px;
    font-size: 38px;
  }
  .carousel {
    width: 100%;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: -15px 0.4rem;
  }
  .parrafosHome {
    margin: 15px;
    padding: 10px;
    font-size: 16px;
  }
  .gridProductos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
    grid-template-areas: "img1" "detail1" "line1" "img2" "detail2" "line2" "img3" "detail3" "line3" "img4" "detail4";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .gridTaller {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20px auto auto 20px auto auto;
    grid-template-areas: "img1" "detail1" "line1" "img2" "detail2" "line2" "img3" "detail3";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .imagen {
    width: 85%;
    margin-top: 20px;
  }
  .detalle {
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
  }
  .subtitulo {
    font-size: 20px;
    padding: 6px;
  }
  .galeria {
    padding: 14px;
  }
  .mainContacto {
    width: 95%;
    padding: 5px 10px 5px 10px;
  }
  .piePagina {
    height: 50px;
    margin: 0px;
  }
  .derechos {
    font-size: 10px;
    margin: 0px 0px 2px 2px;
    padding-bottom: 5px;
  }
  .redes {
    letter-spacing: 5px;
    font-size: 18px;
  }
  .logoBottom {
    height: 48px;
    margin: 0px 2px 2px 72px;
    border: black solid 2px;
  }
}
/*JQuery 320px - final*/
/*JQuery 321px-480px - inicio*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .encabezado {
    height: 40px;
  }
  .logoTop {
    height: 83px;
    margin: 2px 0px 0px 2px;
    border: black solid 2px;
  }
  .nombre {
    font-size: 30px;
    margin-left: 95px;
  }
  .navbar {
    margin-top: 10px;
    height: 35px;
  }
  .navbar-toggler {
    font-size: 16px;
    border-radius: 6px;
    margin: -5px;
  }
  .titulo {
    margin-top: 10px;
    font-size: 38px;
  }
  .carousel {
    width: 100%;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: -15px 0.4rem;
  }
  .parrafosHome {
    margin: 15px;
    padding: 10px;
    font-size: 16px;
  }
  .gridProductos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
    grid-template-areas: "img1" "detail1" "line1" "img2" "detail2" "line2" "img3" "detail3" "line3" "img4" "detail4";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .gridTaller {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 20px auto auto 20px auto auto;
    grid-template-areas: "img1" "detail1" "line1" "img2" "detail2" "line2" "img3" "detail3";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .imagen {
    width: 65%;
    margin-top: 20px;
  }
  .detalle {
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
  }
  .subtitulo {
    font-size: 20px;
    padding: 6px;
  }
  .galeria {
    padding: 20px;
  }
  .mainContacto {
    width: 95%;
    padding: 5px 10px 5px 10px;
  }
  .piePagina {
    height: 50px;
    margin: 0px;
  }
  .derechos {
    font-size: 10px;
    margin: 0px 0px 2px 2px;
    padding-bottom: 3px;
  }
  .redes {
    letter-spacing: 5px;
    font-size: 18px;
  }
  .logoBottom {
    height: 48px;
    margin: 0px 2px 2px 100px;
    border: black solid 2px;
  }
}
/*JQuery 321px-480px - final*/
/*JQuery 481px-800px - inicio*/
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .encabezado {
    height: 70px;
  }
  .logoTop {
    height: 122px;
    margin: 3px 0px 0px 3px;
  }
  .nombre {
    font-size: 45px;
    margin-left: 135px;
  }
  .navbar {
    margin-top: 10px;
    height: 45px;
  }
  .navbar-toggler {
    font-size: 16px;
    border-radius: 6px;
    margin: -4px;
  }
  .titulo {
    margin-top: 10px;
    font-size: 60px;
  }
  .carousel {
    width: 85%;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: -15px 0.4rem;
  }
  .parrafosHome {
    margin: 25px;
    padding: 20px;
    font-size: 16px;
  }
  .gridProductos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 20px auto 20px auto 20px auto;
    grid-template-areas: "img1 detail1" "line1 line1" "detail2 img2" "line2 line2" "img3 detail3" "line3 line3" "detail4 img4";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .gridTaller {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 20px auto 20px auto;
    grid-template-areas: "detail1 img1" "line1 line1" "img2 detail2" "line2 line2" "detail3 img3";
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
  }
  .imagen {
    width: 90%;
    margin-top: 20px;
  }
  .detalle {
    padding: 2px 4px 2px 4px;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
  }
  .subtitulo {
    font-size: 20px;
    padding: 6px;
  }
  .galeria {
    padding: 35px;
  }
  .mainContacto {
    width: 70%;
    padding: 5px 10px 5px 10px;
  }
  .piePagina {
    height: 75px;
    margin: 0px;
  }
  .derechos {
    font-size: 14px;
    margin: 0px 0px 2px 2px;
    padding-bottom: 4px;
  }
  .redes {
    letter-spacing: 8px;
    font-size: 26px;
  }
  .logoBottom {
    height: 72px;
    margin: 0px 3px 3px 120px;
  }
}
/*JQuery 481px-800px - final*/
/*Responsive - final*//*# sourceMappingURL=estilos.css.map */