* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Paleta de colores
$color1: #69dfd2;
$color2: #d1dbdd;
$color3: black;

@font-face {
    font-family: satisfy;
    src: url(../media/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: alkatra;
    src: url(../media/fonts/Alkatra-VariableFont_wght.ttf);
}

body {
    background-image: url(../media/wallpaper.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

/*Header - inicio*/
.encabezado {
    height: 100px;
    width: 100%;
    background-color: $color1;
}

.logoTop {
    z-index: 30;
    height: 194px;
    width: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    border: $color3 solid 5px;
    border-radius: 97px;
    margin: 3px 0px 0px 3px;
    padding: 3px;
}

.nombre {
    font-family: satisfy;
    font-weight: bold;
    font-size: 72px;
    text-align: left;
    letter-spacing: -1px;
    margin-left: 270px;
}
/*Header - final*/
/*Barra de navegación - inicio*/
.navbar {
    height: 60px;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: $color1;
    z-index: 10;
}

.nav-link {
    color: $color3 !important;
    margin: 4px;
    text-transform: capitalize;
    font-family: alkatra;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 3px $color3;
    background-color: $color2;
    text-align: center;
    padding: 3px;
}

.nav-link:hover {
    color: white !important;
}

.navbar-toggler {
    color: $color3 !important;
    font-size: 27px;
    border: $color3 solid 3px !important;
    background-color: $color2;
    border-radius: 6px;
}

.fa-bars:hover {
    color: white;
}

/*Barra de navegación - final*/
/*Header - final*/

.titulo {
    margin: auto;
    font-family: alkatra;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 10px 0px 7px #000000;
    color: $color1;
}

/*Carrusel - inicio*/

.carousel {
    height: auto;
    width: 75%;
    margin: auto;
}

.carousel-inner {
    height: auto;
    max-width: 100%;
    border: $color1 solid 4px;
    z-index: 1;
}

.carousel-control-prev-icon {
    background-image: url(../media/photos/flecha-izq.png);
    height: 35px;
    width: 35px;
}

.carousel-control-next-icon {
    background-image: url(../media/photos/flecha-der.png);
    height: 35px;
    width: 35px;
}

.carousel-indicators li {
    background-color: $color1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 0.4rem;
}

.carousel-indicators .active {
    background-color: $color2;
}

/*Carrusel - final*/

.parrafosHome {
    background-color: $color1;
    height: auto;
    width: auto;
    margin: 35px;
    text-align: left;
    padding: 30px 50px 30px 50px;
    font-size: 18px;
    font-family: alkatra;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Secciones Nuestros Productos y Nuestro Taller - Inicio*/

@mixin grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 35px 0px 35px 0px;
}

.gridProductos {
    @include grid;
    grid-template-rows: auto 70px auto 70px auto 70px auto;
    grid-template-areas:
        "img1 detail1 detail1"
        "line1 line1 line1"
        "detail2 detail2 img2"
        "line2 line2 line2"
        "img3 detail3 detail3"
        "line3 line3 line3"
        "detail4 detail4 img4";
}

.gridTaller {
    @include grid;
    grid-template-rows: auto 70px auto 70px auto;
    grid-template-areas:
        "detail1 detail1 img1"
        "line1 line1 line1"
        "img2 detail2 detail2"
        "line2 line2 line2"
        "detail3 detail3 img3";
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.detail1 {
    grid-area: detail1;
}

.detail2 {
    grid-area: detail2;
}

.detail3 {
    grid-area: detail3;
}

.detail4 {
    grid-area: detail4;
}

.line1 {
    grid-area: line1;
}

.line2 {
    grid-area: line2;
}

.line3 {
    grid-area: line3;
}

.imagen {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: $color1 solid 5px;
    justify-self: center;
    align-self: center;
}

.detalle {
    width: auto;
    height: auto;
    background-color: $color1;
    padding: 10px 20px 10px 20px;
    margin: 40px;
    font-size: 17px;
    font-family: alkatra;
    font-weight: bold;
    letter-spacing: 1px;
}

.subtitulo {
    text-align: center;
    font-size: 28px;
    font-family: alkatra;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
}

.linea {
    border: solid $color1 5px;
    border-radius: 5px;
}

/*Secciones Nuestros Productos y Nuestro Taller - Final*/

.galeria{
    margin: auto;
    padding: 32px;
}

.img{
    border: $color1 solid 5px;
    border-radius: 10px;
    transition: all 1.0s;
}

.img:hover{
    transform: scale(1.2);
    transition: all 1.0s;
}

.mainContacto {
    background-color: $color1;
    height: auto;
    width: 50%;
    margin: 40px auto;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.datosPedidos {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: alkatra;
    border: solid $color3 5px;
    border-radius: 10px;
    background-color: $color2;
    margin: 15px 10px 15px 10px;
    padding: 6px;
}

.datosIngresados {
    text-align: center;
    border: #000000 solid 3px;
    border-radius: 10px;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer - inicio*/
.piePagina {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: $color1;
    margin-top: 10px;
}

.derechos {
    display: flex;
    justify-content: left;
    align-items: end;
    font-size: 18px;
    font-weight: bold;
    font-family: alkatra;
    margin: 0px 0px 15px 15px;
}

.redes {
    font-size: 40px;
    letter-spacing: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a {
    color: #000000;
}

.redes a:hover {
    color: $color2;
}

.logoBottom {
    margin: 0px 3px 3px 250px;
    height: 98px;
    width: auto;
    border: $color3 solid 5px;
    border-radius: 49px;
    padding: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*Footer - final*/
/*Responsive - inicio*/
/*JQuery 320px - inicio*/
@media only screen and (max-width: 320px) {
    .encabezado {
        height: 40px;
    }

    .logoTop {
        height: 83px;
        margin: 2px 0px 0px 2px;
        border: $color3 solid 2px;
    }

    .nombre {
        font-size: 30px;
        margin-left: 95px;
    }

    .navbar {
        margin-top: 10px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 38px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 15px;
        padding: 10px;
        font-size: 13px;
    }

    .gridProductos {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3"
            "line3"
            "img4"
            "detail4";
        padding: 10px;
        margin: 0px 0px 10px 0px;
        gap: 10px;
    }

    .gridTaller {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3";
        padding: 10px;
        margin-bottom: 10px;
        gap: 10px;
    }

    .imagen {
        width: 85%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria{
        padding: 14px;
    }

    .mainContacto {
        width: 95%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 50px;
        margin: 0px;
    }

    .derechos {
        font-size: 8px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 5px;
        font-size: 18px;
    }

    .logoBottom {
        height: 48px;
        margin: 0px 2px 2px 72px;
        border: $color3 solid 2px;
    }
}

/*JQuery 320px - final*/
/*JQuery 321px-480px - inicio*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .encabezado {
        height: 40px;
    }

    .logoTop {
        height: 83px;
        margin: 2px 0px 0px 2px;
        border: $color3 solid 2px;
    }

    .nombre {
        font-size: 30px;
        margin-left: 95px;
    }

    .navbar {
        margin-top: 10px;
        height: 35px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 38px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 15px;
        padding: 10px;
        font-size: 13px;
    }

    .gridProductos {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3"
            "line3"
            "img4"
            "detail4";
        padding: 10px;
        margin: 0px 0px 10px 0px;
        gap: 10px;
    }

    .gridTaller {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 20px auto auto 20px auto auto;
        grid-template-areas:
            "img1"
            "detail1"
            "line1"
            "img2"
            "detail2"
            "line2"
            "img3"
            "detail3";
        padding: 10px;
        margin-bottom: 10px;
        gap: 10px;
    }

    .imagen {
        width: 65%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria{
        padding: 20px;
    }

    .mainContacto {
        width: 95%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 50px;
        margin: 0px;
    }

    .derechos {
        font-size: 8px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 5px;
        font-size: 18px;
    }

    .logoBottom {
        height: 48px;
        margin: 0px 2px 2px 100px;
        border: $color3 solid 2px;
    }
}

/*JQuery 321px-480px - final*/
/*JQuery 481px-800px - inicio*/
@media only screen and (min-width: 481px) and (max-width: 800px) {
    .encabezado {
        height: 70px;
    }

    .logoTop {
        height: 122px;
        margin: 3px 0px 0px 3px;
    }

    .nombre {
        font-size: 45px;
        margin-left: 135px;
    }

    .navbar {
        margin-top: 10px;
        height: 45px;
    }

    .navbar-toggler {
        font-size: 10px;
        border-radius: 6px;
        margin: -2px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 60px;
    }

    .carousel {
        width: 85%;
    }

    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: -15px 0.4rem;
    }

    .parrafosHome {
        margin: 25px;
        padding: 20px;
        font-size: 16px;
    }

    .gridProductos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 20px auto 20px auto 20px auto;
        grid-template-areas:
            "img1 detail1"
            "line1 line1"
            "detail2 img2"
            "line2 line2"
            "img3 detail3"
            "line3 line3"
            "detail4 img4";
        padding: 10px;
        margin: 0px 0px 10px 0px;
        gap: 10px;
    }

    .gridTaller {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 20px auto 20px auto;
        grid-template-areas:
            "detail1 img1"
            "line1 line1"
            "img2 detail2"
            "line2 line2"
            "detail3 img3";
        padding: 10px;
        margin: 0px 0px 10px 0px;
        gap: 10px;
    }

    .imagen {
        width: 90%;
    }

    .detalle {
        padding: 2px 4px 2px 4px;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }

    .subtitulo {
        font-size: 18px;
        padding: 6px;
    }

    .galeria{
        padding: 35px;
    }

    .mainContacto {
        width: 70%;
        padding: 5px 10px 5px 10px;
    }

    .piePagina {
        height: 75px;
        margin: 0px;
    }

    .derechos {
        font-size: 12px;
        margin: 0px 0px 2px 2px;
    }

    .redes {
        letter-spacing: 8px;
        font-size: 26px;
    }

    .logoBottom {
        height: 72px;
        margin: 0px 3px 3px 120px;
    }
}

/*JQuery 481px-800px - final*/
/*Responsive - final*/
